<div class="user-profile">
  <img src="<%= current_user.avatar.present? ? url_for(current_user.avatar) : 'default-avatar.png' %>" alt="User Avatar" class="avatar">
  <div>
    <div class="name"><%= current_user.full_name %></div>
    <div class="email"><%= current_user.email %></div>
    <% if current_user.student_profile.present? %>
      <div class="level">Level: <%= current_user.student_profile.level %></div>
      <div class="points">Points: <%= current_user.student_profile.points %></div>
    <% else %>
      <div class="level">Level: Not Available</div>
      <div class="points">Points: Not Available</div>
    <% end %>
  </div>
</div>
