<div class="container mx-auto sm:my-16 my-10 px-4">
  <h1 class="mb-4 text-3xl font-extrabold text-slate-900 dark:text-slate-100">Evaluate Profile</h1>

  <%= form_with model: @student_profile, url: submit_evaluation_manager_students_profile_path, method: :post do |f| %>
    <% if @student_profile.errors.any? %>
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-6" role="alert">
        <strong class="font-bold">Erro(s):</strong>
        <ul class="mt-2">
          <% @student_profile.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="grid grid-cols-1 sm:grid-cols-2 sm:gap-x-16 sm:gap-y-10 gap-6 items-center">
      <div class="col-span-2">
        <%= f.label :instagram, "What is your instagram?", class: "form-label text-xl" %>
        <%= f.text_field :instagram, class: "form-input" %>
      </div>

      <div class="col-span-2">
        <%= f.label :technologies, "What technologies have you taken a course?", class: "form-label text-xl" %>
        <div class="form-group flex flex-col space-y-2">
          <% options = ["Lógica de Programação", "Git e Github", "Html, Css e Javascript", "Banco de Dados", "Linguagem de Programação", "Framework Web", "Outro:"] %>
          <% options.each do |option| %>
            <div>
              <%= check_box_tag 'student_profile[technologies][]', option, @student_profile.technologies.include?(option), class: "form-input-checkbox" %>
              <%= label_tag option, option, class: "ml-2" %>
            </div>
          <% end %>
          <%= f.text_field :technology_other_details, placeholder: "Outro (Especifique)", class: "form-input" %>
        </div>
      </div>

      <div class="col-span-2">
        <%= f.label :most_studied_language, "Which programming language did you study the most?", class: "form-label text-xl" %>
        <div class="form-group flex flex-col space-y-2">
          <% languages = ["Javascript (Nodejs)", "Java", "Python", "PHP", "Ruby", "Outro:"] %>
          <% languages.each do |language| %>
            <div>
              <%= check_box_tag 'student_profile[most_studied_language][]', language, @student_profile.most_studied_language.include?(language), class: "form-input-checkbox" %>
              <%= label_tag language, language, class: "ml-2" %>
            </div>
          <% end %>
          <%= f.text_field :most_studied_language_other_details, placeholder: "Outro (Especifique)", class: "form-input" %>
        </div>
      </div>

      <div class="col-span-1">
        <%= f.label :study_duration, "How long did you study your language?", class: "form-label text-xl" %>
        <div class="form-group flex flex-col space-y-2">
          <p> <%= f.radio_button :study_duration, "Nunca", class: "form-input-radio" %>
            <%= f.label :study_duration_never, "Nunca", class: "ml-2" %></p>

          <p> <%= f.radio_button :study_duration, "+ou- 3 meses", class: "form-input-radio" %>
            <%= f.label :study_duration_3_months, "+ou- 3 meses", class: "ml-2" %></p>

          <p> <%= f.radio_button :study_duration, "+ou- 6 meses", class: "form-input-radio" %>
            <%= f.label :study_duration_6_months, "+ou- 6 meses", class: "ml-2" %></p>

          <p> <%= f.radio_button :study_duration, "+ou- 12 meses", class: "form-input-radio" %>
            <%= f.label :study_duration_12_months, "+ou- 12 meses", class: "ml-2" %></p>

          <p><%= f.radio_button :study_duration, "Outro", class: "form-input-radio" %>
            <%= f.label :study_duration_other, "Outro:", class: "ml-2" %></p>
          <%= f.text_field :study_duration_details, class: "form-input" %>
        </div>
      </div>

      <div class="col-span-2">
        <%= f.label :web_framework_studied, "What web framework in your programming language did you study?", class: "form-label text-xl" %>
        <div class="form-group flex flex-col space-y-2">
          <% frameworks = ["Rails", "Django", "Laravel", "Spring", "Express.js", "Outro:"] %>
          <% frameworks.each do |framework| %>
            <div>
              <%= check_box_tag 'student_profile[web_framework_studied][]', framework, @student_profile.web_framework_studied.include?(framework), class: "form-input-checkbox" %>
              <%= label_tag framework, framework, class: "ml-2" %>
            </div>
          <% end %>
          <%= f.text_field :web_framework_studied_other_details, placeholder: "Outro (Especifique)", class: "form-input" %>
        </div>
      </div>

      <div class="col-span-1">
        <%= f.label :web_framework_study_duration, "How long did you study the web framework?", class: "form-label text-xl" %>
        <div class="form-group flex flex-col space-y-2">
          <p> <%= f.radio_button :web_framework_study_duration, "Nunca", class: "form-input-radio" %>
            <%= f.label :web_framework_study_duration_never, "Nunca", class: "ml-2" %></p>

          <p> <%= f.radio_button :web_framework_study_duration, "+ou- 3 meses", class: "form-input-radio" %>
            <%= f.label :web_framework_study_duration_3_months, "+ou- 3 meses", class: "ml-2" %></p>

          <p> <%= f.radio_button :web_framework_study_duration, "+ou- 6 meses", class: "form-input-radio" %>
            <%= f.label :web_framework_study_duration_6_months, "+ou- 6 meses", class: "ml-2" %></p>

          <p> <%= f.radio_button :web_framework_study_duration, "+ou- 12 meses", class: "form-input-radio" %>
            <%= f.label :web_framework_study_duration_12_months, "+ou- 12 meses", class: "ml-2" %></p>

          <p> <%= f.radio_button :web_framework_study_duration, "Outro", class: "form-input-radio" %>
            <%= f.label :web_framework_study_duration_other, "Outro:", class: "ml-2" %></p>
          <%= f.text_field :web_framework_study_duration_details, class: "form-input" %>
        </div>
      </div>

      <div class="col-span-2 text-center">
        <%= f.label :communication_preference, "How much do you like talking to people?", class: "form-label block mb-4 text-xl" %>
        <div class="form-group flex justify-center space-x-4">
          <% (1..10).each do |i| %>
            <div class="flex flex-col items-center">
              <%= f.radio_button :communication_preference, i, class: "form-input-radio" %>
              <%= f.label "communication_preference_#{i}", i.to_s, class: "ml-2" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-span-2 text-center">
        <%= f.label :exposure_preference, "How much do you like to expose yourself?", class: "form-label block mb-4 text-xl" %>
        <div class="form-group flex justify-center space-x-4">
          <% (1..10).each do |i| %>
            <div class="flex flex-col items-center">
              <%= f.radio_button :exposure_preference, i, class: "form-input-radio" %>
              <%= f.label "exposure_preference_#{i}", i.to_s, class: "ml-2" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="border-t py-6 mt-10 flex items-center space-x-4 dark:border-slate-600">
      <%= f.submit "Submit Evaluation", class: "btn btn-primary" %>
      <%= link_to "Cancel", manager_students_profile_path, class: "font-medium text-slate-600 hover:text-primary-600 text-sm px-2 py-2 dark:text-slate-400 dark:hover:text-primary-400" %>
    </div>
  <% end %>
</div>
