<h1><%= @project_simulation.title %></h1>

<p><strong>Descrição:</strong> <%= @project_simulation.description %></p>

<h2>Objetivos</h2>
<p><%= @project_simulation.objectives %></p>

<h2>Ferramentas Necessárias</h2>
<p><%= @project_simulation.tools %></p>

<h2>Resultados Esperados</h2>
<p><%= @project_simulation.expected_results %></p>

<%= form_with url: project_simulations_path, method: :post, local: true do |form| %>
  <%= form.hidden_field :project_id, value: @project_simulation.id %>
  <%= form.submit 'Iniciar Projeto', class: 'btn btn-primary' %>
<% end %>