<!-- app/views/project_simulations/show.html.erb -->
<h1><%= @project_simulation.title %></h1>

<p><strong>Descrição:</strong> <%= @project_simulation.description %></p>

<h2>Objetivos</h2>
<p><%= @project_simulation.objectives %></p>

<h2>Ferramentas Necessárias</h2>
<p><%= @project_simulation.tools %></p>

<h2>Resultados Esperados</h2>
<p><%= @project_simulation.expected_results %></p>

<%= link_to 'Iniciar Projeto', new_project_simulation_path(@project_simulation), class: 'btn btn-primary' %>
