<section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5">
  <div class="max-w-5xl mx-auto px-4 my-16">
    <div class="flex items-center justify-between pb-6 border-b dark:border-slate-700">
      <h1 class="text-4xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight"><%= @project_simulation.title %></h1>
    </div>

    <div class="container mx-auto mt-6 rounded-lg border border-slate-300/80 shadow shadow-slate-100 dark:shadow-slate-950 bg-white dark:bg-slate-800 dark:border-slate-600/80 p-6">
      <div class="mb-4">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-200"><%= t('.description') %></h2>
        <p class="text-gray-700 dark:text-gray-300"><%= @project_simulation.description %></p>
      </div>

      <div class="mb-4">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-200"><%= t('.goals') %></h2>
        <p class="text-gray-700 dark:text-gray-300"><%= @project_simulation.objectives %></p>
      </div>

      <div class="mb-4">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-200"><%= t('.tools') %></h2>
        <p class="text-gray-700 dark:text-gray-300"><%= @project_simulation.tools %></p>
      </div>

      <div class="mb-4">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-200"><%= t('.results') %></h2>
        <p class="text-gray-700 dark:text-gray-300"><%= @project_simulation.expected_results %></p>
      </div>

      <div class="mb-4">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-200"><%= t('.difficulty') %></h2>
        <p class="text-gray-700 dark:text-gray-300"><%= @project_simulation.difficulty %></p>
      </div>

      <div class="mb-4">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-200"><%= t('.complexity') %></h2>
        <p class="text-gray-700 dark:text-gray-300"><%= @project_simulation.complexity %></p>
      </div>

      <%= form_with url: project_simulations_path, method: :post, local: true do |form| %>
        <%= form.hidden_field :project_id, value: @project_simulation.id %>
        <%= form.submit t('.start'), class: 'btn btn-primary' %>
      <% end %>

      <%= link_to t('.to_go_back'), project_simulations_path, class: 'btn btn-secondary mt-4' %>
    </div>
  </div>
</section>
